*{
box-sizing:border-box;
}


body{

margin:0;

background:#111;

color:white;

font-family:Arial;

}



.app{

width:100%;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}



.login{

background:#222;

padding:30px;

border-radius:15px;

text-align:center;

}



input{

padding:12px;

border-radius:8px;

border:none;

margin:5px;

font-size:16px;

}



button{

padding:12px 20px;

border:none;

border-radius:8px;

cursor:pointer;

background:#8b5cf6;

color:white;

}



.chat{

width:95%;

max-width:1000px;

height:90vh;

background:#181818;

border-radius:15px;

padding:15px;

flex-direction:column;

}





.main{

display:flex;

gap:15px;

flex:1;

}





#messages{

flex:1;

background:#222;

padding:15px;

overflow:auto;

border-radius:10px;

}





#online{

width:250px;

background:#222;

border-radius:10px;

padding:10px;

}



.user{

display:flex;

align-items:center;

gap:10px;

margin:10px 0;

}



.user img{

width:40px;

height:40px;

border-radius:50%;

}



.send{

display:flex;

margin-top:10px;

}



.send input{

flex:1;

}





@media(max-width:700px){


.main{

flex-direction:column;

}



#online{

width:100%;

}



.chat{

height:100vh;

width:100%;

border-radius:0;

}


}